/OLC_Proyecto1_201901816/nbproject/private/
/OLC_Proyecto1_201901816/build/
/OLC_Proyecto1_2019018/build/
/OLC_Proyecto1_2019018/nbproject/private/
/ConvertirNombresCarpeta/nbproject/private/
/ConvertirNombresCarpeta/build/